<footer class="footer footer-bottom">
  <div class="container text-center">
    <span class="text-muted">Copyright {{ "now"|date("Y") }} - CityTakeOff TravelManager</span>
    <button type="button" class="btn btn-sm btn-dark ml-5" data-toggle="popover" data-placement="top" data-content="{{ language.list }}">{{ language.active }}</button>
  </div>
</footer>
